# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# State files (je nach Wunsch)
# Wenn state.json NICHT versioniert sein soll:
# state.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
